<a href="https://colab.research.google.com/github/itinstructor/JupyterNotebooks/blob/main/JupyterNotebooks/Python_Primer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a name="top"></a>
# Python Primer (Life, the Universe, and Everything)

# Jupyter Notebooks

**Jupyter notebooks** are commonly used to practice data science and machine learning. Notebooks are a great way to mix executable code with rich contents (HTML, images, equations written in LaTeX).

**Google Colab** allows us to run notebooks on the cloud for free without a local installation.

Whether you're a **student**, a **data scientist** or an **AI researcher**, Colab can make your work easier. Watch [Introduction to Colab](https://www.youtube.com/watch?v=inN8seMm7UI) to learn more.

You are working in an interactive environment called a notebook. A notebook allows you to and display text and write and execute code. Notebooks consist of text cells or code cells.

- **text cell:** We are in a text cell. This is where you make notes and explain what is going on.
- **code cell:** Below is a code cell that stores the result of a computation (the number of seconds in a day) in a variable and prints its value:

In [ ]:
# This is a code cell
# Calculate how many seconds are in a day
seconds_in_a_day = 24 * 60 * 60
print(f"Seconds in a day: {seconds_in_a_day}")

Seconds in a day: 86400

Click on the "play" button to execute the cell. You should be able to see the result. 

You can also execute the cell:
* Windows/Linux: **Ctrl + Enter**
* Mac: **Command + Enter**

Variables defined in one cell can be used later in other cells:

In [ ]:
# seconds_in_a_day was used in the previous code cell
seconds_in_a_week = 7 * seconds_in_a_day
print(f"Seconds in a week: {seconds_in_a_week}")

Seconds in a week: 604800

The order of execution is important. If we do not run the cell storing `seconds_in_a_day` beforehand, the above cell will raise an error, as it depends on this variable. To ensure that you run all the cells in the correct order, you can click on "Runtime" in the top-level menu, then "Run all".

# Python

Almost all Python code will run in Colab. Let's take a look at some common Python concepts in a notebook environment.

In [10]:
# Find the Python version in a notebook
import sys
print(f"Python: {sys.version}")

Python: 3.8.16 (default, Dec  7 2022, 01:12:13)
[GCC 7.5.0]

Contrary to other languages, Python blocks of code are delimited using indentation. In Python, it is common practice to use 4-space indentation.

## Variables
Variables are values stored at a unique memory address.

In [9]:
print("  Variable ")
print(" +---------+")
print(" | Address |")
print(" +---------+")
print(" |  Value  |")
print(" +---------+")
# Create variable, assign 42 to variable
num = 42
# Memory addresses are in hexadecimal
print(f" Address: {hex(id(num))}")
print(f"   Value: {num}")

  Variable
 +---------+
 | Address |
 +---------+
 |  Value  |
 +---------+
 Address: 0xaff7c0
   Value: 42

## Arithmetic Operations

Python supports the usual arithmetic operators:

Symbol | Operation
-----|------
\+ | addition  
- | subtraction
\* | multiplication
/ | division
\** | power or exponent
// | integer division
% | modulus or remainder

In [ ]:
a = 5
b = 89
c = a + b
s = a - b
# Print results
print(f"{a} + {b} = {c}")
print(f"{a} - {b} = {s}")

5 + 89 = 94
5 - 89 = -84

### Integer Division and Modulus

In [ ]:
import builtins
a = 10
b = 3
# Integer division
division = int(a / b)
remainder = a%b
print(f"{a} goes into {b}, {division} times with a remainder of {remainder}")

10 goes into 3, 3 times with a remainder of 1

### Even or Odd

In [ ]:
for x in range(-5, 6):
    # Align the numbers to the left
    first_char = " "
    if x < 0:
        first_char = ""
    # If the remainder is 0, the number is even
    if (x % 2) == 0:
        print(f"{first_char}{x} is even")
    else:
        print(f"{first_char}{x} is odd")

-5 is odd
-4 is even
-3 is odd
-2 is even
-1 is odd
 0 is even
 1 is odd
 2 is even
 3 is odd
 4 is even
 5 is odd

# Conditionals
The following is a human language version of decision statements. Decision statements use the if keyword.

```
if it's raining:
  Bring an umbrella
or if it's sunny:
  Buy an ice cream cone
otherwise
  Learn Python
```

# Boolean
Decision statements use Boolean values to determine true or false. 

Python has six relational operators that test the relationship between two
values (e.g., whether they are equal, or whether one is greater than the other).
The following expressions show how they are used:

Expression | Explanation
-----|------
x == y  | x is equal to y
x != y  | x is not equal to y
x > y   | x is greater than y
x < y   | x is less than y
x >= y  | x is greater than or equal to y
x <= y  | x is less than or equal to y

The result of a relational operator is one of two special values: true or false.
These values belong to the data type boolean, named after the mathematician
George Boole. He developed an algebraic way of representing logic.

In [ ]:
x = 19
y = 19

result = x >= y
print(result)
result = x + y
print(result)

True
38

Conditionals are a way to execute code depending on whether a condition is `True` or `False`. Python supports `if` and `else` but `else if` is contracted into `elif`, as the example below demonstrates.

Here `<` and `>` are the strict `less` and `greater than` operators, while `==` is the equality operator (not to be confused with `=`, the variable assignment operator). The operators `<=` and `>=` can be used for less (resp. greater) than or equal comparisons.

In [ ]:
my_variable = 5
if my_variable < 0:
    print("negative")
elif my_variable == 0:
    print("null")
else:  # my_variable > 0
    print("positive")

positive

In [ ]:
money_available = float(input("How much money do you have? "))
if money_available >= 80:
    print("Eat something fancy!")
elif money_available > 45:
    print("Eat something nice.")
elif money_available > 15:
    print("Eat something ok")
else:
    print("Eat something cheap")

How much money do you have? 14
Eat something cheap


# For Loops

Loops are a way to execute a block of code multiple times. There are two main types of loops: while loops and for loops.

For loop using the `range()` function. The `range()` function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number. 

`range(start, stop, step)`

`range(stop)`

In [ ]:
my_list = [1, 3, 5, 7, 9]
# Print specific element of list
print(my_list[-1])
# The range is 0 - 4
for i in range(4, -1, -2):
    print(f"{i+1}. {my_list[i]}")

9
5. 9
3. 5
1. 1

In [ ]:
my_list = [1, 3, 5, 7, 9]
# The range is 0 - 4, step by 2
for i in range(0, 5, 2):
    print(f"{my_list[i]} ", end=" ")
print()
for i in range(4, -1, -1):
    print(f"{my_list[i]}", end=" ")

1  5  9
9 7 5 3 1

Iterate over a list with a `for each` loop. For each element (item) in the list, do something.

In [ ]:
my_list = [1, 3, 5, 7, 9]
for element in my_list:
    print(element)

1
3
5
7
9

While loops are typically used when we don't know how long the loop will last.

In [ ]:
# Loop counter initialized outside the list
my_list = [1, 3, 5, 7, 9]
i = 0
while i < len(my_list):
    print(f"{i+1}. {my_list[i]}")
    # Increment the loop counter
    # The following expression is equivalent to i = i + 1
    i += 1

1. 1
2. 3
3. 5
4. 7
5. 9

# Nested Loops

Just like it sounds, one loop inside another.

```
# outer for loop
for element in sequence:
   # inner for loop
   for element in sequence:
       body of inner for loop
   body of outer for loop
```

In [ ]:
# Purpose: Demonstrate nested loops
for i in range(1, 13):
    # Inner Loop
    for j in range(1, 13):
        print(f"{j} times {i} is {i * j}")
    # End of outer loop body
    print("------------------")

1 times 1 is 1
2 times 1 is 2
3 times 1 is 3
4 times 1 is 4
5 times 1 is 5
6 times 1 is 6
7 times 1 is 7
8 times 1 is 8
9 times 1 is 9
10 times 1 is 10
11 times 1 is 11
12 times 1 is 12
------------------
1 times 2 is 2
2 times 2 is 4
3 times 2 is 6
4 times 2 is 8
5 times 2 is 10
6 times 2 is 12
7 times 2 is 14
8 times 2 is 16
9 times 2 is 18
10 times 2 is 20
11 times 2 is 22
12 times 2 is 24
------------------
1 times 3 is 3
2 times 3 is 6
3 times 3 is 9
4 times 3 is 12
5 times 3 is 15
6 times 3 is 18
7 times 3 is 21
8 times 3 is 24
9 times 3 is 27
10 times 3 is 30
11 times 3 is 33
12 times 3 is 36
------------------
1 times 4 is 4
2 times 4 is 8
3 times 4 is 12
4 times 4 is 16
5 times 4 is 20
6 times 4 is 24
7 times 4 is 28
8 times 4 is 32
9 times 4 is 36
10 times 4 is 40
11 times 4 is 44
12 times 4 is 48
------------------
1 times 5 is 5
2 times 5 is 10
3 times 5 is 15
4 times 5 is 20
5 times 5 is 25
6 times 5 is 30
7 times 5 is 35
8 times 5 is 40
9 times 5 is 45
10 times 5 is 50
11 times 5 is 55
12 times 5 is 60
------------------
1 times 6 is 6
2 times 6 is 12
3 times 6 is 18
4 times 6 is 24
5 times 6 is 30
6 times 6 is 36
7 times 6 is 42
8 times 6 is 48
9 times 6 is 54
10 times 6 is 60
11 times 6 is 66
12 times 6 is 72
------------------
1 times 7 is 7
2 times 7 is 14
3 times 7 is 21
4 times 7 is 28
5 times 7 is 35
6 times 7 is 42
7 times 7 is 49
8 times 7 is 56
9 times 7 is 63
10 times 7 is 70
11 times 7 is 77
12 times 7 is 84
------------------
1 times 8 is 8
2 times 8 is 16
3 times 8 is 24
4 times 8 is 32
5 times 8 is 40
6 times 8 is 48
7 times 8 is 56
8 times 8 is 64
9 times 8 is 72
10 times 8 is 80
11 times 8 is 88
12 times 8 is 96
------------------
1 times 9 is 9
2 times 9 is 18
3 times 9 is 27
4 times 9 is 36
5 times 9 is 45
6 times 9 is 54
7 times 9 is 63
8 times 9 is 72
9 times 9 is 81
10 times 9 is 90
11 times 9 is 99
12 times 9 is 108
------------------
1 times 10 is 10
2 times 10 is 20
3 times 10 is 30
4 times 10 is 40
5 times 10 is 50
6 times 10 is 60
7 times 10 is 70
8 times 10 is 80
9 times 10 is 90
10 times 10 is 100
11 times 10 is 110
12 times 10 is 120
------------------
1 times 11 is 11
2 times 11 is 22
3 times 11 is 33
4 times 11 is 44
5 times 11 is 55
6 times 11 is 66
7 times 11 is 77
8 times 11 is 88
9 times 11 is 99
10 times 11 is 110
11 times 11 is 121
12 times 11 is 132
------------------
1 times 12 is 12
2 times 12 is 24
3 times 12 is 36
4 times 12 is 48
5 times 12 is 60
6 times 12 is 72
7 times 12 is 84
8 times 12 is 96
9 times 12 is 108
10 times 12 is 120
11 times 12 is 132
12 times 12 is 144
------------------

#While Loops

The while loop in Python is used to iterate over a block of code as long as the test expression (condition) is true.

We generally use this loop when we don't know the number of times to iterate beforehand.

In the while loop, test expression is checked first. The body of the loop is entered only if the test_expression evaluates to True. After one iteration, the test expression is checked again. This process continues until the test_expression evaluates to False.

The body of the while loop is determined through indentation. The body starts with indentation and the first unindented line marks the end.

Python interprets any non-zero value as True. None and 0 are interpreted as False. 1 is typically evaluated as True.

In [ ]:
while True:
  menu = input("Enter (y)").lower()
  if menu == 'y':
    break
print("Outside loop")

Enter (y)Y
Outside loop

In [ ]:
# Program to add natural
# numbers up to 
# sum = 1+2+3+...+n

# To take input from the user,
n = int(input("Enter n: "))

n = 10

# initialize sum and counter
sum = 0
i = 1

while i <= n:
    sum = sum + i
    i = i+1    # update counter

# print the sum
print(f"The sum is {sum}")

Enter n: 10
The sum is 55

## Functions

To improve code readability, it is common to separate the code into different blocks, responsible for performing precise actions: functions. A function takes some inputs and process them to return some outputs.

In [ ]:
# Define square function with 1 parameter and a return
def square(x):
    return x ** 2

# Define multiply function with 2 parameters and a return
def multiply(a, b):
    return a * b

# Value returned from a function can be directly printed
print(multiply(1, 5))
# Value returned from a function can be assigned to a variable
sqr = square(4)
print(sqr)
# The return value of a function can be the argument of another function
result = square(multiply(3, 2))
print(result)

5
16
36

## Lists

Lists are a container type for ordered sequences of elements. Lists can be initialized as an empty list.

In [ ]:
my_list = [1,2,3]
print(my_list[0])

1

A list can be initialized with some initial elements.

In [ ]:
my_list = [1, 2, 3]
print(my_list)

[1, 2, 3]

Lists are mutable. They have a dynamic size and elements can be added (appended) to them.

In [ ]:
my_list.append(5)
print(my_list)

[1, 2, 3, 5, 5]

You can access individual elements of a list (indexing starts from 0).

In [ ]:
print(my_list[2])

3

We can access "slices" of a list using `my_list[i:j]` where `i` is the start of the slice (again, indexing starts from 0) and `j` the end of the slice.

For instance:

In [ ]:
print(f"Original list: {my_list}")
# The first number [1] is inclusive, the second number is exclusive
# We get the elements 1 and 2. 3 is not included
print(f"List sliced from 0 - 3: {my_list[0:3]}")

Original list: [1, 2, 3, 5, 5]
List sliced from 0 - 3: [1, 2, 3]

Omitting the second index slices until the end of the list.

In [ ]:
print(my_list[1:])
my_string = "String"
print(my_string)
print(my_string[3:])
len(my_string)

[3, 5, 7, 9]
String
ing

6

A list is an iterable. We can check if an element is in the list using the `in` operator.

In [ ]:
my_list = [1, 3, 5, 7, 9]
item_to_find = 5
if item_to_find in my_list:
    print(f"{item_to_find} is in the list")
else:
    print(f"{item_to_find} is not in mylist")

5 is in the list

The length of a list can be obtained using the `len` function

In [ ]:
print(len(my_list))

5

The `shuffle()` method takes a sequence, like a list, and reorganizes the order of the items.

In [ ]:
import random

mylist = ["apple", "banana", "cherry"]
random.shuffle(mylist)

print(mylist)

['banana', 'cherry', 'apple']

The `choice()` method randomly chooses an item from a list.

In [ ]:
import random
mylist = ["apple", "banana", "cherry"]
typed_word = random.choice(mylist)
print(typed_word)

cherry

## Tuples
Tuples are almost the same as Lists. Unlike Lists, Tuples are immutable, they cannot be changed.

In [ ]:
my_tuple = (1, 2, 30)
print(my_tuple)

(1, 2, 30)

## Dictionaries
A Python dictionary is an unordered data collection that contains key:value pairs separated by commas inside curly brackets. Dictionaries are optimized to retrieve values when the key is known. 

 Dictionary Example:

`state_capitals = {"Idaho":"Boise", "Nebraska":"Lincoln", "Minnesota":"St Paul"}`

In [ ]:
phone_numbers = {"Zeus":"201.258.2365", "Ares":"142.258.1278", "Apophis":"258.364.2586"}
print(phone_numbers)
print(phone_numbers.get("Zeus"))
print(f"Ares: {phone_numbers['Ares']}")
apophis = phone_numbers.get("Apophis")
print(apophis)

{'Zeus': '201.258.2365', 'Ares': '142.258.1278', 'Apophis': '258.364.2586'}
201.258.2365
Ares: 142.258.1278
258.364.2586

## Strings

Python has a set of built-in methods that you can use on strings.

All string methods returns new values. They do not change the original string.

The string data type stores text. In Python, they can be delimited using either single quotes or double quotes.

In [ ]:
name = "Herbert Hoover"
print(f"Original:     {name}")
print(f"capitalize(): {name.capitalize()}")
print(f"title():      {name.title()}")
lower_case = name.casefold()
print(f"casefold():   {lower_case}")
upper_case = name.upper()
print(f"upper():      {upper_case}")
print(f"swapcase():   {name.swapcase()}")

Original:     Herbert Hoover
capitalize(): Herbert hoover
title():      Herbert Hoover
casefold():   herbert hoover
upper():      HERBERT HOOVER
swapcase():   hERBERT hOOVER

String concatenation is performed using the `+` operator.

In [ ]:
string1 = "some text"
string2 = 'some other text'

In [ ]:
string1 + " " + string2

'some text some other text'

We can slice strings just like lists.

Strings behave similarly to lists. We can access individual elements in exactly the same way.

In [ ]:
string1[5:]

'text'

In [ ]:
string1[3]

'e'

## Going Further

It is impossible to cover all the language features in this short introduction. To go further, we recommend the following resources:

* [Python Tutorial with Google Collab](https://colab.research.google.com/github/cs231n/cs231n.github.io/blob/master/python-colab.ipynb)
*   List of Python [tutorials](https://wiki.python.org/moin/BeginnersGuide/Programmers)
* Four-hour [course](https://www.youtube.com/watch?v=rfscVS0vtbw) on Youtube

[Back to Top](#top)

## License
<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.

Copyright (c) 2022 William A Loring